.cast {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.block-actor {
  width: 150px;
  padding-bottom: 20px;
}

.actor-name {
  margin-top: 10px;
  font-weight: bold;
  margin-right: 10px;
}

.actor-character {
  margin-top: 5px;
  font-style: italic;
}
